.Search {
  margin-top: 40px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
  display: flex;
  gap: 10px;
}

.search-input {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  width: 90%; 
}

.search-input:focus {
  outline: none; /* Remove default outline */
  box-shadow: 0 0 5px #885df1; /* Add custom focus shadow */
}

.search-button {
  background: #885df1;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer; /* Make button cursor a pointer */
}

.search-input::placeholder {
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
}

h1 {
  margin: 20px 0 10px 0;
  line-height: 29px;
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
}

.weather-app-temperature {
  color: rgba(39, 33, 66, 0.4);
  font-weight: bold;
  margin-left: 5px;
  font-weight: 120px;
  margin-left: 10px;
  font-size: 80px;
  line-height: 120px;
}

.units {
  font-weight: light;
  font-size: 20px;
  color: rgba(39, 33, 66, 0.4);
}

.Weather footer {
  font-size: 14px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}

.Weather footer a {
  color: #885df1;
}
